<!-- FOOTER -->
<footer class="page-footer font-small unique-color-dark">
  <div class="container">
    <!-- Grid row-->
    <div class="row pt-4 pb-2 d-flex align-items-center"> 
      <!-- Grid column -->
      <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-0">Bądź z nami na bierząco w sieciach społecznościowych!</h6>
      </div>
      <!-- Grid column -->
      <div class="col-md-6 col-lg-7 text-center text-md-right">
        <!-- Facebook -->
        <a class="fb-ic"><i class="fab fa-facebook-f white-text mr-4"> </i></a>
        <!--Linkedin -->
        <a class="li-ic"><i class="fab fa-linkedin-in white-text mr-4"></i></a>
        <!--Instagram-->
        <a class="ins-ic"><i class="fab fa-instagram white-text"></i></a>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Links -->
  <div class="container mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 ml-0 mr-auto mb-4 text-center text-md-left">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold mb-2"><img class="img-responsive block mx-auto" src="assets/img/ozbud.svg" height="35" alt="ozbud"></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
        <p>Generalny wykonawca obiektów kubaturowych. Zachęcamy do kontaktu w kwestii wycen.</p>
      </div>
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold mb-4">Dane Adresowe</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
        <p>OZBUD PBU Sp. z o.o.</p>
        <p>53-609 Wrocław</p>
        <p>ul. Fabryczna 20</p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold mb-4">Dane Spółki</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
        <p>NIP: 897-16-52-494</p>
        <p>KRS: 0000061628</p>
        <p>REGON: 932275244</p>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 ml-auto mr-0 mb-md-0 mb-4 text-center text-md-right">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold mb-4">Kontakt</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
        <p><i class="fas fa-envelope mr-3"></i> biuro@ozbud.com.pl</p>
        <p><i class="fas fa-phone mr-3"></i> + 48 71 354 43 26</p>
        <p><i class="fas fa-print mr-3"></i> + 48 71 354 43 28</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>

<!--- SCRIPTS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="assets/js/jquery-3.5.1.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script> -->
<script src="assets/js/popper-2.4.0.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
<script src="assets/js/bootstrap-4.4.1.js"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
<script src="assets/js/slick-1.6.0.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script> -->
<script src="assets/js/logo-slider.js"></script>
<script src="assets/js/main.js"></script>