
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{{site.baseurl}}/assets/img/ozbud.svg" height="40" alt="ozbud">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-fill w-100">
          {% for item in site.data.navbar %}
          <a class="nav-item nav-link" href="{{item.link | prepend: site.baseurl}}">{{ item.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </nav>
</header>