---
---

@import 'bootstrap/bootstrap';

.bg-dark {
    background-color: rgba(170, 168, 168, 0.9) !important;
}

.navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

body {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}

.navbar {
    backdrop-filter: saturate(180%) blur(20px);
}

.navbar-nav {
    font-weight: 600;
    font-size: 1em;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border: none;
}

.navbar-toggler {
    line-height: 0px;
}

.carousel {
    width: 100%;
}

/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width:100%;
    height:100%;
}

.carousel-indicators{
    margin-bottom: 0px;
}

.carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    margin-left: 5px;
    /* text-indent: -999px; */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.btn-primary {
    color: #fff;
    background-color: rgba(170, 168, 168, 0.9);
    backdrop-filter: saturate(180%) blur(20px);
    border: none;
    border-radius: 7px;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgba(102, 102, 102, 0.9);
    backdrop-filter: saturate(180%) blur(20px);
    border: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgba(102, 102, 102, 0.9);
    backdrop-filter: saturate(180%) blur(20px);
    border: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(170, 168, 168, 0.5);
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(170, 168, 168, 0.5);
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(170, 168, 168, 0.25);
}

.blurry {
    display: inline-block;
    color: #fff;
    background-color: rgba(170, 168, 168, 0.6);
    border: none;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
}

.blurry h1 {
    margin: 0px;
}

.blurry p {
    margin-bottom: 0px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

.text-dark {
    color: #1D1D1F;
}

h1, .h1 {
    font-size: 3rem;
}

.text-shadow {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.page-footer {
    color: #ffffff;
    background-color: rgba(170, 168, 168, 0.9);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.8rem;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 25px;
    padding-left: 25px;
}

.no-padding {
    padding: 0px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}