---
layout: default
title: Aktualności
---

<div class="container-fluid no-padding text-dark text-center text-uppercase mt-4 pt-navbar">
  <div class="container-fluid">
    <h1>Aktualności</h1>
      <div class="row">
        {% for post in paginator.posts %}
          <div class="col-xl-3 col-md-6 col-12 pt-2 pb-2">
            <div class="grd">
              <img class="img-fluid w-100 rounded-top" src="{{ site.baseurl }}/assets/img/600x400{{ post.feat-img }}" href="{{ site.baseurl }}{{ post.url }}" style="object-fit: cover;>
              <a href="{{ site.baseurl }}{{ post.url }}"><h5 class="capitalize text-dark pt-2 pb-3">{{ post.title | truncate: 35 }}</h5></a>
            </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Poprzednia</a>
  {% else %}
    <span>&laquo; Poprzednia</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Następna &raquo;</a>
  {% else %}
    <span>Następna &raquo;</span>
  {% endif %}
</div>
{% endif %}